<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <% if SprocketsHelpers.available? %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
