name: Rubocop

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  rubocop:
    name: Rubocop
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: ['2.7', '3.0']

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install linting gems
        run: gem install rubocop rubocop-performance rubocop-minitest
      - name: Run rubocop
        run: rubocop
